<nav class="navbar fixed-bottom bg-body-tertiary border-top">
    <div class="container-fluid d-flex justify-content-around text-center bottom-nav">

        <a class="nav-link active" href="/">
            <i class="bi bi-house fs-4"></i>
            <div class="small">Böcker</div>
        </a>

        <a class="nav-link" href="/AddBook">
            <i class="bi bi-plus-circle fs-4"></i>
            <div class="small">Ny Bok</div>
        </a>

        <a class="nav-link" href="#">
            <i class="bi bi-gear fs-4"></i>
            <div class="small">Inställningar</div>
        </a>
    </div>
</nav>